* {
    font-family: 'Orbitron', sans-serif;
}

.seq-container {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: calc(2vh);
    padding: 10px;

}

.seq-btn {
    flex-basis: 1%;
    background: rgb(255, 255, 157);
    border: 1px solid black;
}

.seq-playhead {
    background: blue;
}

.btn-on {
    background: red;
}


.seq-btn:hover {
    background: red;
}


.play-stop-btn {
    background: rgb(93, 141, 93);
    padding: 0 50px;
    height: 50px;
    border: none;
    border-radius: 20px;
}

.play-stop-btn-green {
    background: rgb(93, 141, 93);
}

.play-stop-btn-red {
    background: rgb(228, 31, 31);
}

.play-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 1em;
}
